<navigation></navigation>
<div id="what-we-do-container" class="container-element">
  <h1>What we do</h1>
  <app-departments-component></app-departments-component>

  <div id="what-we-do-data">
    <h1>What we do</h1>
    <div id="text">Based in a delightful office in bustling Jozi, South Africa, we’re intoxicated by the immense potential of digital. It’s ever-changing environment and endless possibilities allow us to explore the realms of the digital space. By pushing the boundaries of what is possible, when it comes to digital marketing solutions, we have been able to continue growing as technology and the marketplace evolves as well.
<br><br>
      We’re in love with what we do, and it shows in our work: from our complete range of e-commerce and online marketing solutions to our people who always deliver their best - ensuring that we give our customers brilliant and original marketing strate gies to help them grow their business.</div>
    <img src="./assets/who-we-are-desk.jpg">
  </div>
</div>
