#login-container{
  width: 90%;
  max-width: 600px;
  margin: 20px auto;

  h1{
    text-align: center;
  }

  button{
    margin: auto;
    display: block;
  }

  #signin_error{
    display: none;
    color: red;
    &.show{
      display: block;
    }
  }
}
