$font1 : 'aileronlight';


#apply-form-container{
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px 0;

  h1{
    font-family: $font1;
    font-size: 50px;
  }

  #applicantForm{
    width: 90%;
    max-width: 450px;
    margin: auto;
    input{
      width: 100%;
      margin-bottom: 20px;
      color: #54a6d7;
      border-bottom-color: #54a6d7;
      box-shadow: none;
    }

    label{
      color: #54a6d7;

    }


    .btn{
      background-color: #54a6d7;
    }

    .progress{
      position: relative;
      height: 4px;
      display: block;
      width: 100%;
      background-color: #ec7474;
      border-radius: 2px;
      margin: 0.5rem 0 1rem 0;
      overflow: visible;

      .progress-bar{
        background-color: #17ff6a;
        position: relative;
        height: 4px;
        display: block;
        width: 70%;
        border-radius: 2px;
        margin: 0.5rem 0 1rem 0;
        overflow: hidden;
        z-index: 2;
      }
    }
    .input-field.inline{
      width: 100%;
    }

  }

  #formError{
    display: none;
  }

  #formThanks{
    display: none;
  }

  .hide{
    display: none !important;
  }

  .show{
    display: block !important;
  }

}
