#admin-panel{

  table{
    border: 1px #000 solid;
    tr{
      td{
        border: 1px #000 solid;
        a{
          display: block;
          margin:auto;
          max-width: 150px;
        }
      }
    }
  }

  #delete-vacancies{
    margin-top: 20px;
    text-align: center;
    .vacancy{
      border: 1px #000 solid;
      display: inline-block;
      margin: 10px;
      padding: 5px;
      text-align: center;
      height: 160px;
      width: 250px;
      text-transform: capitalize;
      p{
        margin: 10px 0;
      }
      .position{
        font-weight: bold;
      }
      .department{
      }
    }
  }
}
