#admin-panel{

  table{
    border: 1px #000 solid;
    tr{
      td{
        border: 1px #000 solid;
        text-align: center;
        button{
          float: right;
        }
      }
    }
  }
}
