<div class="navigation-desktop">
  <div routerLink="/home" class="logo"></div>
  <div class="links">
    <a routerLink="/whatwedo" routerLinkActive="active">what we do</a>
    <a routerLink="/culture" routerLinkActive="active">culture</a>
    <a routerLink="/careers" routerLinkActive="active">careers</a>
    <a routerLink="/contact" routerLinkActive="active">contact</a>
    <a routerLink="/signin" routerLinkActive="active">signin</a>
    <a routerLink="/admin" routerLinkActive="active">admin</a>
  </div>
</div>

