#departments-container {
  width: 100%;
  max-height: 230px;
  position: relative;
  overflow-y: hidden;
  text-align: center; }
  #departments-container .inner {
    width: 100%; }
    #departments-container .inner .department {
      display: inline-block;
      margin: auto;
      padding-top: 20px;
      vertical-align: top;
      cursor: pointer;
      transform: scale(0.9); }
      #departments-container .inner .department .icon {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: auto; }
        #departments-container .inner .department .icon img {
          width: 80px;
          position: relative;
          transform: translateY(-50%);
          top: 50%; }
      #departments-container .inner .department .name {
        height: 80px; }
        #departments-container .inner .department .name span {
          font-family: "boulevard_saint_denis";
          font-size: 40px;
          text-transform: capitalize;
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          line-height: 0.7; }
        #departments-container .inner .department .name.finance {
          color: #2d85b8; }
        #departments-container .inner .department .name.operations {
          color: #a1d05d; }
        #departments-container .inner .department .name.acquisition {
          color: #e88b2f; }
        #departments-container .inner .department .name.retention {
          color: #784572; }
      #departments-container .inner .department:hover {
        transform: scale(1); }
  #departments-container.careers {
    background-color: #ffffff; }
    #departments-container.careers .inner {
      min-width: 1050px; }
      #departments-container.careers .inner .department {
        width: 150px; }
  #departments-container.whatwedo {
    background-color: #6cb4df; }
    #departments-container.whatwedo .inner {
      min-width: 1270px; }
      #departments-container.whatwedo .inner .department {
        width: 180px; }

@media screen and (max-width: 992px) {
  #departments-container.whatwedo {
    background-color: #6cb4df; }
    #departments-container.whatwedo .inner .department {
      webkit-transform: scale(1);
      transform: scale(1);
      float: left; } }
@media screen and (max-width: 550px) {
  #departments-container.whatwedo {
    background-color: #6cb4df; }
    #departments-container.whatwedo .inner .department {
      width: 150px; }
      #departments-container.whatwedo .inner .department .icon {
        /*width: 160px;
        height: 160px;*/ }
  #departments-container.careers .inner {
    min-width: 930px; }
    #departments-container.careers .inner .department {
      padding-top: 10px;
      width: 130px; }
      #departments-container.careers .inner .department .name {
        height: 60px; }
        #departments-container.careers .inner .department .name span {
          font-family: "aileronlight";
          font-size: 20px;
          line-height: 1; }
      #departments-container.careers .inner .department .icon {
        width: 110px;
        height: 110px; }
        #departments-container.careers .inner .department .icon img {
          width: 65px; } }

/*# sourceMappingURL=departments-component.component.css.map */
