$nav-font-color: #fff;
$nav-font-size: 20px;
$nav-font-family: aileronregular;
$hamburger-color: #54a6d7;
$animationSpeed: 0.3s;

#mobile{
  display: none;
  position: fixed;
  top:0;
  width: 100vw;
  left: 0;
  z-index: 1;

  .nav-bar{
    height: 70px;
    background-color: #fff;
    width: 100%;

    .hamburger{
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      margin-right: 10px;
      right: 0;

      .line{
        width: 40px;
        height: 4px;
        background: $hamburger-color;
        display: block;
      }
      .line1{
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20%;

       -webkit-animation: closeMenuLine1 $animationSpeed ease-out forwards;
        -o-animation: closeMenuLine1 $animationSpeed ease-out forwards;
        animation: closeMenuLine1 $animationSpeed ease-out forwards;
      }

      .line2{
        margin: 5px 0;
        opacity: 1;

        -webkit-animation: closeMenuLine2 $animationSpeed ease-out forwards;
        -o-animation: closeMenuLine2 $animationSpeed ease-out forwards;
        animation: closeMenuLine2 $animationSpeed ease-out forwards;
      }
      .line3{
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20%;

        -webkit-animation: closeMenuLine3 $animationSpeed ease-out forwards;
        -o-animation: closeMenuLine3 $animationSpeed ease-out forwards;
        animation: closeMenuLine3 $animationSpeed ease-out forwards;
      }

    }
    .logo{
      display: block;
      margin: auto;
      width: 180px;
      height: 58px;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      img{
        width: 100%;
        outline: none;
      }
    }


    &.open{
      transition: 0$animationSpeed ease-out;
      left: 0;

      .line1{
        -webkit-animation: openMenuLine1 $animationSpeed ease-out forwards;
        -o-animation: openMenuLine1 $animationSpeed ease-out forwards;
        animation: openMenuLine1 $animationSpeed ease-out forwards;
      }
      .line2{
        -webkit-animation: openMenuLine2 $animationSpeed ease-out forwards;
        -o-animation: openMenuLine2 $animationSpeed ease-out forwards;
        animation: openMenuLine2 $animationSpeed ease-out forwards;
      }
      .line3{
        -webkit-animation: openMenuLine3 $animationSpeed ease-out forwards;
        -o-animation: openMenuLine3 $animationSpeed ease-out forwards;
        animation: openMenuLine3 $animationSpeed ease-out forwards;
      }


      #links{

        span{
          transform: translateX(-80px);
          line-height: 1;
        }
      }
    }


  }

  .nav-slide{
    position: absolute;
    width: 100%;
    height: 335px;
    top: 70px;
    left: 0;
    transition: 0.3s ease-out;
    overflow: hidden;

    background: #424242;
    background: -moz-linear-gradient(top, #424242 0%, #646464 100%);
    background: -webkit-linear-gradient(top, #424242 0%,#646464 100%);
    background: linear-gradient(to bottom, #424242 0%,#646464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#646464',GradientType=0 );

    /*&.open{
      transition: 0.3s ease-out;
      height: 226px;
      }*/

    }

    #links{

      a{
        display: block;
        padding: 12px 0;
        text-decoration: none;
        font-family: $nav-font-family;
        font-size: $nav-font-size;
        color: $nav-font-color;
        text-align: center;
        height: 65px;



        &.active{
          span{
            i{
              color: #54a6d7;
            }
            span{
              color: #54a6d7;


            }
          }

        }



        span{
          width: 200px;
          height: 45px;
          display: inline-block;
          position: relative;

          i{
            margin: 0 35px 0 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            position: relative;
            left: 0;
            top: 50%;
            width: 20%;
          }

          span{
            -webkit-animation: menuLinksClosed 0.3s ease-out forwards;
            animation: menuLinksClosed 0.3s ease-out forwards;
            position: relative;
            line-height: 1;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 40px;
            text-align: left;
            width: calc( 70% - 35px);
          }
        }
      }
    }

  }

.no-scroll{
  overflow: hidden;
}

@media screen and (max-width: 1024px){

    #mobile{
      display: block;
    }

}


@keyframes openMenuLine1 {
  0%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 20%;
  }

}

@keyframes openMenuLine2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes openMenuLine3 {
  0%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    transform-origin: 20%;
  }

}



@keyframes closeMenuLine1 {
  0%{
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }

}

@keyframes closeMenuLine2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeMenuLine3 {
  0%{
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }

}

