<nav id="mobile">
  <div class="nav-bar">
    <div class="hamburger" id="hamburgerOpen" appMobileMenuOpen>
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="logo">
      <img routerLink="/" src="../../assets/osiris-logo-small-text.png">
    </div>
  </div>
  <div class="nav-slide" id="nav-slide-menu">
    <div class="closeHamburger" id="hamburgerClose" appMobileMenuClose>
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div id="links">
      <a routerLink="/home" routerLinkActive="active" appMobileMenuClose><span>home</span></a>
      <a routerLink="/culture" routerLinkActive="active" appMobileMenuClose><span>culture</span></a>
      <a routerLink="/careers" routerLinkActive="active" appMobileMenuClose><span>careers</span></a>
      <a routerLink="/whatwedo" routerLinkActive="active" appMobileMenuClose><span>what we do</span></a>
      <a routerLink="/contact" routerLinkActive="active" appMobileMenuClose><span>contact</span></a>
    </div>
  </div>
</nav>
