<div id="mobile">
  <div class="nav-bar" id="nav-bar">
    <div class="hamburger" id="hamburgerOpen" appMobileMenuDirective>
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="logo">
      <img routerLink="/home" src="../../assets/osiris-logo-small-text.png">
    </div>
  </div>
  <div class="nav-slide" id="nav-slide-menu">
   <!-- <div class="closeHamburger" id="hamburgerClose" appMobileMenuDirective>
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>-->
    <div id="links">
      <a routerLink="/home" routerLinkActive="active" appMobileMenuDirective><span>home</span></a>
      <a routerLink="/culture" routerLinkActive="active" appMobileMenuDirective><span>culture</span></a>
      <a routerLink="/careers" routerLinkActive="active" appMobileMenuDirective><span>careers</span></a>
      <a routerLink="/whatwedo" routerLinkActive="active" appMobileMenuDirective><span>what we do</span></a>
      <a routerLink="/contact" routerLinkActive="active" appMobileMenuDirective><span>contact</span></a>
    </div>
  </div>
</div>
