$nav-font-color: #58585a;
$nav-font-size: 32px;
$nav-font-family: aileronregular;
$hamburger-color: #54a6d7;

nav#mobile{
  display: none;
  position: fixed;
  top:0;
  width: 100%;

  .nav-bar{
    height: 70px;
    background-color: #fff;
    width: 100%;

    .hamburger{
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      margin-left: 10px;

      .line{
        width: 40px;
        height: 4px;
        background: $hamburger-color;
        display: block;
      }
      .line1{
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20%;
      }
      .line2{
        margin: 5px 0;
        opacity: 1;
      }
      .line3{
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20%;
      }

    }
    .logo{
      display: block;
      margin: auto;
      width: 180px;
      height: 58px;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      img{
        width: 100%;
      }
    }
  }

  .nav-slide{
    position: absolute;
    background-color: #fff;
    width: 85%;
    height: 100vh;
    top: 0;
    left: -85%;
    transition: 0.5s linear;

    .closeHamburger{
      position: absolute;
      top: 25px;
      right: 10px;
      margin-left: 10px;

      .line{
        width: 40px;
        height: 4px;
        background: $hamburger-color;
        display: block;

      }
      .line1 {
        margin: 5px 0;
        -webkit-animation: closeMenuLine1 0.5s linear forwards;
        -o-animation: closeMenuLine1 0.5s linear forwards;
        animation: closeMenuLine1 0.5s linear forwards;
      }
      .line2 {
        margin: 5px 0;
        -webkit-animation: closeMenuLine2 0.5s linear forwards;
        -o-animation: closeMenuLine2 0.5s linear forwards;
        animation: closeMenuLine2 0.5s linear forwards;
      }
      .line3 {
        margin: 5px 0;
        -webkit-animation: closeMenuLine3 0.5s linear forwards;
        -o-animation: closeMenuLine3 0.5s linear forwards;
        animation: closeMenuLine3 0.5s linear forwards;
      }

    }
    &.open{
      transition: 0.5s linear;
      left: 0;

      .line1{
        -webkit-animation: openMenuLine1 0.5s linear forwards;
        -o-animation: openMenuLine1 0.5s linear forwards;
        animation: openMenuLine1 0.5s linear forwards;
        /*animation-delay: 0.3s;*/
      }
      .line2{
        -webkit-animation: openMenuLine2 0.5s linear forwards;
        -o-animation: openMenuLine2 0.5s linear forwards;
        animation: openMenuLine2 0.5s linear forwards;
        /*animation-delay: 0.3s;*/
      }
      .line3{
        -webkit-animation: openMenuLine3 0.5s linear forwards;
        -o-animation: openMenuLine3 0.5s linear forwards;
        animation: openMenuLine3 0.5s linear forwards;
        /*animation-delay: 0.3s;*/
      }


    }
    a{
      display: block;
    }


  }

}

@media screen and (max-width: 1024px){

    nav#mobile{
      display: block;
    }

}


@keyframes openMenuLine1 {
  0%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 20%;
  }

}

@keyframes openMenuLine2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes openMenuLine3 {
  0%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    transform-origin: 20%;
  }

}



@keyframes closeMenuLine1 {
  0%{
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }

}

@keyframes closeMenuLine2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeMenuLine3 {
  0%{
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    transform-origin: 20%;
  }
  100%{
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%;
  }

}
