<navigation></navigation>

<div *ngIf="!angularReady">loaderrrr</div>

<div id="contact-container" class="container-element" *ngIf="angularReady">
  <span id="mapToggleClose" class="hide" appContactShowMapDirective >Close Map</span>
  <div id="contact-overlay">
    <div class="inner">

      <h1><a href="tel:+27 11 771 9000">+27 11 771 9000</a></h1>
      <h2>
        <span>3rd Floor, 34 Melrose Boulevard</span>
        <span>Melrose Arch, Melrose North</span>
        <span>Johannesburg</span>
        <span>South Africa</span>
        <span id="mapToggle" appContactShowMapDirective >Check out our Pozzi</span>
      </h2>
      <h3>
        <span>P.O. Box 150</span>
        <span>Melrose Arch</span>
        <span>2076</span>
        <span>Johannesburg</span>
        <span>South Africa</span>
      </h3>
<div id="social">
  <a href="#">
    <img  src="./assets/fb-icon.png">
  </a>
  <a href="#">
    <img src="./assets/linkedin-icon.png">
  </a>
</div>

    </div>
    <div class="filler"></div>
  </div>
  <agm-map id="googleMap" class="blur" [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
           [disableDefaultUI]="true"
           [zoomControl]="false">

    <agm-marker *ngFor="let m of marker; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [iconUrl]="m.iconUrl">

      <agm-info-window>
        <strong>{{m.label}}</strong>
      </agm-info-window>

    </agm-marker></agm-map>

</div>
