$font1 : 'aileronlight';

#contact-container{
  display: block;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 80px);
  background-color: #fff;

  #mapToggle{
     right: 0;
    z-index: 1000;
    color: blue;
  }

  #mapToggleClose{
    position: absolute;
    right: 0;
    z-index: 1000;
    color: blue;

    &.hide{
      display: none;
    }
    &.show{
      display: block;
    }
  }

  #contact-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    //background-color: rgba(231,231,231,0.8);
    background-color: transparent;
    z-index: 99;
    //top: 80px;
    transition: 0.5s;

    .inner{
      width: 60%;
      height: 100%;
      padding-top: 90px;
      color: #656565;
      font-weight: 100;
      text-align: right;
      font-family: $font1;
      display: inline-block;
      float: left;

      h1{
        font-size: 70px;
        margin: 0;
        font-weight: 100;

        a{
          color: #656565;
        }

        &:after{
          background-image: url('../../assets/icon-phone.png');
          margin-left: 25px;
          content: '';
          height: 55px;
          width: 51px;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;
          display: inline-block;
        }
    }

      h2{
        font-size: 40px;
        font-weight: 100;

        span{
          display: block;
          line-height: 1;

          &:first-child:after{
            background-image: url('../../assets/icon-location.png');
            margin-left: 25px;
            content: '';
            height: 55px;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: -20px;
            position: relative;
          }
          &:after{
            content: ' ';
            width: 51px;
            height: 1px;
            margin-left: 25px;
            display: inline-block;
          }
        }
      }

      h3{
        font-size: 30px;
        font-weight: 100;

        span{
          display: block;
          line-height: 1;

          &:first-child:after{
            background-image: url('../../assets/icon-mail.png');
            margin-left: 25px;
            content: '';
            height: 42px;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: -20px;
            position: relative;
          }
          &:after{
            content: ' ';
            width: 51px;
            height: 1px;
            margin-left: 25px;
            display: inline-block;
          }
        }
      }

      #social{
        height: auto;
        width: auto;
        margin-top: 43px;
        img{
          cursor: pointer;
          &:first-child{
            margin-right: 10px;
          }
        }
        &:after{
          background-image: url('../../assets/icon-share.png');
          margin-left: 25px;
          content: '';
          height: 50px;
          background-size: contain;
          background-repeat: no-repeat;
          bottom: 5px;
          position: relative;
          display: inline-block;
          width: 52px;
        }
      }
    }

    .filler{
      width: 40%;
      height: 100%;
      display: inline-block;
      float: left;

    }

    &.showMap{
      -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
      transform: translateX(-100vw);
    }

  }

  agm-map {
    height: 100vh;
    width: 120%;
    left: -10%;
    top: -30px;
    position: absolute;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;


    &.blur{
      -webkit-filter: blur(20px);
      filter: blur(20px);
    }
  }


}

@media screen and (max-width: 1024px){
#contact-container{
  height: calc(100vh - 70px);
    #contact-overlay{
      //top: 70px;
      .inner{
        padding-top: 20px;
        width: 70%;

        h1{
          font-size: 60px;

          &:after{
            height: 45px;
            width: 46px;
          }

          h2{
            font-size: 35px;
            margin: 0;

            span{
              &:first-child:after{
                height: 45px;
              }

              &:after{
                height: 45px;
              }
            }

          }

          h3{
            font-size: 25px;
            margin: 0;

            span{
              &:first-child:after{
                height: 32px;
                bottom: -13px;
              }

              &:after{
                height: 32px;
              }
            }

          }
        }
      }
      .filler{
          width: 30%;
      }
    }
  }
}

@media screen and (max-width: 900px){
#contact-container {
    #contact-overlay {
      .inner{
        width: 100%;
        padding-right: 20px;
      }
      .filler{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 675px){
#contact-container {
    #contact-overlay {
      .inner {
        h1 {
          font-size: 45px;

          &:first-child:after{
            height: 35px;
            width: 35px;
          }
          &:after{
            width: 35px;
          }
        }
        h2{
          font-size: 25px;

          span{
            &:first-child:after{
              height: 35px;
              width: 35px;
              bottom: -16px;
            }
            &:after{
              width: 35px;
            }
          }

        }
        h3{
          font-size: 20px;
          span{
            &:first-child:after{
              height: 35px;
              width: 35px;
            }
            &:after{
              width: 35px;
            }
          }
        }

        #social{
          img{
            width: 40px;
          }
          &:after{
            height: 35px;
            width: 35px;
            margin-left: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
#contact-container {
    #contact-overlay {
      .inner {
        h1 {
          font-size: 35px;

          &:first-child:after{
            height: 25px;
            width: 25px;
          }
          &:after{
            width: 25px;
          }
        }
        h2{
          font-size: 20px;
          margin: 5px 0;

          span{
            &:first-child:after{
              height: 25px;
              width: 25px;
              bottom: -10px;
            }
            &:after{
              width: 25px;
            }
          }

        }
        h3{
          font-size: 16px;
          margin: 5px 0;
          span{
            &:first-child:after{
              height: 25px;
              width: 25px;
              bottom: -14px;
            }
            &:after{
              width: 25px;
            }
          }
        }

        #social{
          margin-top: 18px;
          img{
            width: 30px;
          }
          &:after{
            height: 25px;
            width: 25px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374px){
#contact-container {
    #contact-overlay {
      .inner {
        padding-right: 5px;
        h1 {
          font-size: 32px;

          &:first-child:after{
            margin-left: 10px;
          }
          &:after{
            margin-left: 10px;
          }
        }
        h2{
          font-size: 20px;
          margin: 5px 0;

          span{
            &:first-child:after{
              margin-left: 10px;
            }
            &:after{
              margin-left: 10px;
            }
          }

        }
        h3{
          span{
            &:first-child:after{
              margin-left: 10px;
            }
            &:after{
              margin-left: 10px;
            }
          }
        }

        #social{
          margin-top: 18px;
          img{
            width: 30px;
            margin-right: 5px;
          }
          &:after{
            margin-left: 0;
          }
        }
      }
    }
  }
}
