#careers-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #383838; }
  #careers-container #careers-hero-container {
    width: 100%;
    max-height: 293px;
    padding-bottom: 10px;
    background: url("../../assets/careers-hero.jpg") center center no-repeat; }
    #careers-container #careers-hero-container h1 {
      font-family: "boulevard_saint_denis";
      color: #ffffff;
      margin: 0;
      font-size: 180px;
      line-height: 0.8; }
    #careers-container #careers-hero-container h3 {
      margin: 0;
      font-family: "aileronlight";
      font-size: 40px;
      color: #ffffff;
      font-weight: 100;
      line-height: 1; }
    #careers-container #careers-hero-container #filter-careers {
      max-width: 520px;
      width: 50%;
      height: 50px;
      border: none;
      outline: none;
      text-align: left;
      padding: 0 20px;
      font-family: "aileronlight";
      font-weight: 100;
      color: #ababab;
      font-size: 24px;
      -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75); }
  #careers-container #vacancy-container {
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: #383838; }
    #careers-container #vacancy-container .vacancy {
      height: 50px;
      width: 80%;
      max-width: 230px;
      position: relative;
      display: inline-block;
      margin: 10px 10px;
      cursor: pointer;
      border-radius: 10px;
      animation: expand 200ms linear;
      /*department and job vacancy color schemes*/ }
      #careers-container #vacancy-container .vacancy p {
        margin: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        position: relative;
        font-family: "aileronlight";
        font-weight: bold;
        color: #fff; }
      #careers-container #vacancy-container .vacancy.finance {
        background-color: #2d85b8; }
      #careers-container #vacancy-container .vacancy.operations {
        background-color: #a1d05d; }
      #careers-container #vacancy-container .vacancy.acquisition.marketing {
        background-color: #e88b2f; }
      #careers-container #vacancy-container .vacancy.retention.marketing {
        background-color: #784572; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 101; }
  .modal-container .modal-inner {
    width: 80%;
    max-width: 360px;
    height: auto;
    background-color: #fff;
    margin: auto;
    align-items: center;
    position: relative;
    padding: 20px; }
    .modal-container .modal-inner .modal-close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      font-family: "aileronregular";
      font-size: 18px;
      color: #6b6b6b; }
    .modal-container .modal-inner .icon {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin: auto; }
      .modal-container .modal-inner .icon img {
        width: 80px;
        position: relative;
        transform: translateY(-50%);
        top: 50%; }
    .modal-container .modal-inner .name {
      margin-top: 15px;
      /*department and job vacancy color schemes*/ }
      .modal-container .modal-inner .name span {
        font-family: "boulevard_saint_denis";
        font-size: 40px;
        text-transform: capitalize;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0.7; }
      .modal-container .modal-inner .name.finance {
        color: #2d85b8; }
      .modal-container .modal-inner .name.operations {
        color: #a1d05d; }
      .modal-container .modal-inner .name.acquisition.marketing {
        color: #e88b2f; }
      .modal-container .modal-inner .name.retention.marketing {
        color: #784572; }
    .modal-container .modal-inner .modal-content {
      padding: 10px;
      font-family: "aileronregular";
      font-size: 14px;
      color: #6b6b6b; }
      .modal-container .modal-inner .modal-content button {
        text-transform: uppercase;
        font-family: "aileronregular";
        font-size: 30px;
        color: #fff;
        width: 230px;
        height: 50px;
        border-radius: 10px;
        margin: 10px auto;
        border: none;
        cursor: pointer;
        outline: none;
        /*department and job vacancy color schemes*/ }
        .modal-container .modal-inner .modal-content button.finance {
          background-color: #2d85b8; }
        .modal-container .modal-inner .modal-content button.operations {
          background-color: #a1d05d; }
        .modal-container .modal-inner .modal-content button.acquisition.marketing {
          background-color: #e88b2f; }
        .modal-container .modal-inner .modal-content button.retention.marketing {
          background-color: #784572; }
  .modal-container.active {
    display: flex; }

@media screen and (min-width: 1025px) {
  .vacancy {
    width: 24%; } }
@media screen and (max-width: 1024px) {
  .vacancy {
    width: 30%; } }
@media screen and (max-width: 600px) {
  .vacancy {
    width: 45%; } }
@media screen and (max-width: 440px) {
  #careers-container #careers-hero-container h1 {
    font-size: 130px; }
  #careers-container #careers-hero-container #filter-careers {
    height: 35px;
    font-size: 16px; }
  #careers-container #careers-hero-container h3 {
    font-size: 25px; } }
@media screen and (max-width: 413px) {
  .vacancy {
    width: 98%; } }
@keyframes expand {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=careers-component.component.css.map */
