$font1 : 'boulevard_saint_denis';
$font1-color : #ffffff;
$font2 : 'aileronlight';
$font3 : 'aileronregular';

#careers-container{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #383838;


  #careers-hero-container{
    width: 100%;
    max-height: 293px;
    padding-bottom: 10px;
    background: url("../../assets/careers-hero.jpg") center center no-repeat;

    h1{
      font-family: $font1;
      color: $font1-color;
      margin: 0;
      font-size: 180px;
      line-height: 0.8;
    }

    h3{
      margin: 0;
      font-family: $font2;
      font-size: 40px;
      color: $font1-color;
      font-weight: 100;
      line-height: 1;
    }

    #filter-careers{
      max-width: 520px;
      width: 50%;
      height: 50px;
      border: none;
      outline: none;
      text-align: left;
      background-color: #fff;
      margin-bottom: 0;
      padding: 0 20px;
      font-family: $font2;
      font-weight: 100;
      color: #ababab;
      font-size: 24px;
      -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75)
    }

  }

  #vacancy-container{
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: #383838;

    .vacancy{
      height: 50px;
      width: 80%;
      max-width: 230px;
      position: relative;
      display: inline-block;
      margin: 10px 10px;
      cursor: pointer;
      border-radius: 10px;
      animation: expand 200ms linear;

        p{
          margin: 0;
          -webkit-transform: translateY(-50%);;
          -moz-transform: translateY(-50%);;
          -ms-transform: translateY(-50%);;
          -o-transform: translateY(-50%);;
          transform: translateY(-50%);;
          top: 50%;
          position: relative;
          font-family: $font2;
          font-weight: bold;
          color: #fff;
        }

      /*department and job vacancy color schemes*/
      &.finance{
        background-color: #2d85b8;
      }
      &.operations{
        background-color: #a1d05d;
      }
      &.acquisition.marketing{
        background-color: #e88b2f;
      }
      &.retention.marketing{
        background-color: #784572;
      }

    }
  }

}

.modal-container{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.8);
  z-index: 101;

  .modal-inner{
    width: 80%;
    max-width: 360px;
    height: auto;
    background-color: #fff;
    margin: auto;
    align-items: center;
    position: relative;
    padding: 20px;

    .modal-close{
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      font-family: $font3;
      font-size: 18px;
      color: #6b6b6b;

    }

    .icon{
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin: auto;

      img{
        width: 80px;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
      }
    }
    .name{
      margin-top: 15px;
      span{
        font-family: $font1;
        font-size: 40px;
        text-transform: capitalize;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0.7;
      }

      /*department and job vacancy color schemes*/
      &.finance{
        color: #2d85b8;
      }
      &.operations{
        color: #a1d05d;
      }
      &.acquisition.marketing{
        color: #e88b2f;
      }
      &.retention.marketing{
        color: #784572;
      }
    }

    .modal-content{
      padding: 10px;
      font-family: $font3;
      font-size: 14px;
      color: #6b6b6b;

      button{
        text-transform: uppercase;
        font-family: $font3;
        font-size: 30px;
        color: #fff;
        width: 230px;
        height: 50px;
        border-radius: 10px;
        margin: 10px auto;
        border: none;
        cursor: pointer;
        outline: none;

        /*department and job vacancy color schemes*/
        &.finance{
          background-color: #2d85b8;
        }
        &.operations{
          background-color: #a1d05d;
        }
        &.acquisition.marketing{
          background-color: #e88b2f;
        }
        &.retention.marketing{
          background-color: #784572;
        }
      }
    }
  }

  &.active{
    display: flex;
  }
}


@media screen and (min-width: 1025px) {
  .vacancy{
    width: 24%;
  }
}

@media screen and (max-width: 1024px) {
  .vacancy{
    width: 30%;
  }
}



@media screen and (max-width: 600px){
  .vacancy {
    width: 45%;
  }
}

@media screen and (max-width: 440px){
  #careers-container #careers-hero-container {
    h1{
      font-size: 130px
    }
    #filter-careers{
      height: 35px;
      font-size: 16px;
    }
    h3{
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 413px){
  .vacancy {
    width: 98%;
  }
}

@keyframes expand {
  0%{
    transform: scale(0.5);
  }
  100%{
   transform: scale(1);
}
}
