<navigation></navigation>
<div id="careers-container">

  <div id="careers-hero-container">
    <h1>Careers</h1>
    <input id="filter-careers" placeholder="type your title here" type="text" [(ngModel)]="term" value="" >
    <h3>or</h3>
    <h3>choose a career path</h3>
  </div>


  <app-departments-component></app-departments-component>

  <div id="vacancy-container">

    <!--change to *ngIf="!(vacancies | async)" for db link-->
      <pre *ngIf="!(vacancies)">loading...</pre>

    <!--change to *ngFor="let vacancy of vacancies | async | filter:term" for database link-->
      <div class="vacancy {{vacancy.department}}" *ngFor="let vacancy of vacancies | filter:term"
           (click)="openModalContent(vacancy.description, vacancy.positionTitle, vacancy.department, vacancy.link)">
          <p>{{vacancy.positionTitle }}</p>
      </div>
  </div>

  <div id="modal" class="modal-container">
    <div class="modal-inner">
      <div class="icon" [ngStyle]="{background: 'url(' + '../../assets/' + iconLink + '.png' + ') center center no-repeat'}">
        <img src="../../assets/{{iconLink}}.svg" />
      </div>
      <div (click)="closeModal()" class="modal-close">X</div>
      <div class="modal-content">
        <div class="name {{jobDepartment}}"><span>{{jobTitle}}</span></div>
        <p>{{jobDescription}}</p>
        <button class="{{jobDepartment}}">apply</button>
      </div>
    </div>
  </div>

</div>

