@font-face {
  font-family: 'aileronregular';
  src: url('assets/fonts/aileron-regular/aileron-regular-webfont.eot');
  src: url('assets/fonts/aileron-regular/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/aileron-regular/aileron-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/aileron-regular/aileron-regular-webfont.woff') format('woff'),
  url('assets/fonts/aileron-regular/aileron-regular-webfont.ttf') format('truetype'),
  url('assets/fonts/aileron-regular/aileron-regular-webfont.svg#aileronregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronlight';
  src: url('assets/fonts/aileron-light/aileron-light-webfont.eot');
  src: url('assets/fonts/aileron-light/aileron-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/aileron-light/aileron-light-webfont.woff2') format('woff2'),
  url('assets/fonts/aileron-light/aileron-light-webfont.woff') format('woff'),
  url('assets/fonts/aileron-light/aileron-light-webfont.ttf') format('truetype'),
  url('assets/fonts/aileron-light/aileron-light-webfont.svg#aileronlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'boulevard_saint_denis';
  src: url('assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.eot');
  src: url('assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.woff2') format('woff2'),
  url('assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.woff') format('woff'),
  url('assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.ttf') format('truetype'),
  url('assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.svg#boulevard_saint_denisbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  width: 100%;
  margin: 0;
  padding-top: 80px;
}

@media screen and (max-width: 1024px){
  body{
    padding-top: 70px;
  }
}

@import 'app/mobile-menu-component/mobile-menu-component.component';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

