@font-face {
  font-family: 'aileronregular';
  src: url("assets/fonts/aileron-regular/aileron-regular-webfont.eot");
  src: url("assets/fonts/aileron-regular/aileron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/aileron-regular/aileron-regular-webfont.woff2") format("woff2"), url("assets/fonts/aileron-regular/aileron-regular-webfont.woff") format("woff"), url("assets/fonts/aileron-regular/aileron-regular-webfont.ttf") format("truetype"), url("assets/fonts/aileron-regular/aileron-regular-webfont.svg#aileronregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aileronlight';
  src: url("assets/fonts/aileron-light/aileron-light-webfont.eot");
  src: url("assets/fonts/aileron-light/aileron-light-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/aileron-light/aileron-light-webfont.woff2") format("woff2"), url("assets/fonts/aileron-light/aileron-light-webfont.woff") format("woff"), url("assets/fonts/aileron-light/aileron-light-webfont.ttf") format("truetype"), url("assets/fonts/aileron-light/aileron-light-webfont.svg#aileronlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'boulevard_saint_denis';
  src: url("assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.eot");
  src: url("assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.woff2") format("woff2"), url("assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.woff") format("woff"), url("assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.ttf") format("truetype"), url("assets/fonts/boulevard-saint-denis/boulevard_saint_denis-webfont.svg#boulevard_saint_denisbold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  width: 100%;
  margin: 0; }

nav#mobile {
  display: none;
  position: relative;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 10000000000; }
  nav#mobile .nav-bar {
    height: 70px;
    background-color: #fff;
    width: 100%; }
    nav#mobile .nav-bar .hamburger {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      margin-right: 10px;
      right: 0; }
      nav#mobile .nav-bar .hamburger .line {
        width: 40px;
        height: 4px;
        background: #54a6d7;
        display: block; }
      nav#mobile .nav-bar .hamburger .line1 {
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20%;
        -webkit-animation: closeMenuLine1 0.5s linear forwards;
        -o-animation: closeMenuLine1 0.5s linear forwards;
        animation: closeMenuLine1 0.5s linear forwards; }
      nav#mobile .nav-bar .hamburger .line2 {
        margin: 5px 0;
        opacity: 1;
        -webkit-animation: closeMenuLine2 0.5s linear forwards;
        -o-animation: closeMenuLine2 0.5s linear forwards;
        animation: closeMenuLine2 0.5s linear forwards; }
      nav#mobile .nav-bar .hamburger .line3 {
        -ms-transform: rotate(0deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(0deg);
        transform-origin: 20%;
        -webkit-animation: closeMenuLine3 0.5s linear forwards;
        -o-animation: closeMenuLine3 0.5s linear forwards;
        animation: closeMenuLine3 0.5s linear forwards; }
    nav#mobile .nav-bar .logo {
      display: block;
      margin: auto;
      width: 180px;
      height: 58px;
      transform: translateY(-50%);
      top: 50%;
      position: relative; }
      nav#mobile .nav-bar .logo img {
        width: 100%;
        outline: none; }
    nav#mobile .nav-bar.open {
      transition: 0.5s linear;
      left: 0; }
      nav#mobile .nav-bar.open .line1 {
        -webkit-animation: openMenuLine1 0.5s linear forwards;
        -o-animation: openMenuLine1 0.5s linear forwards;
        animation: openMenuLine1 0.5s linear forwards; }
      nav#mobile .nav-bar.open .line2 {
        -webkit-animation: openMenuLine2 0.5s linear forwards;
        -o-animation: openMenuLine2 0.5s linear forwards;
        animation: openMenuLine2 0.5s linear forwards; }
      nav#mobile .nav-bar.open .line3 {
        -webkit-animation: openMenuLine3 0.5s linear forwards;
        -o-animation: openMenuLine3 0.5s linear forwards;
        animation: openMenuLine3 0.5s ease-out forwards; }
      nav#mobile .nav-bar.open #links span {
        transform: translateX(-80px); }
  nav#mobile .nav-slide {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: calc( 100vh - 70px );
    top: 70px;
    left: -100%;
    transition: 0.5s linear; }
    nav#mobile .nav-slide.open {
      transition: 0.5s linear;
      left: 0; }
  nav#mobile #links a {
    display: block;
    padding: 12px 10px;
    border-top: 1px #58585a solid;
    text-decoration: none;
    font-family: aileronregular;
    font-size: 20px;
    color: #58585a;
    text-align: center; }
    nav#mobile #links a:last-child {
      border-bottom: 1px #000 solid; }
    nav#mobile #links a.active span {
      color: #54a6d7; }
    nav#mobile #links a span {
      animation: menuLinksClosed 0.5s ease forwards;
      position: relative;
      display: block; }

.no-scroll {
  overflow: hidden; }

@media screen and (max-width: 1024px) {
  nav#mobile {
    display: block; } }
@keyframes openMenuLine1 {
  0% {
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%; }
  100% {
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 20%; } }
@keyframes openMenuLine2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes openMenuLine3 {
  0% {
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%; }
  100% {
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    transform-origin: 20%; } }
@keyframes closeMenuLine1 {
  0% {
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 20%; }
  100% {
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%; } }
@keyframes closeMenuLine2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes closeMenuLine3 {
  0% {
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    transform-origin: 20%; }
  100% {
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(0deg);
    transform-origin: 20%; } }

/*# sourceMappingURL=styles.css.map */
