<div id="home-container" class="container-element" >
  <!--listen for output events from mouse-move-background-directive - trigger component events on these listeners-->
  <div class="inner" appMouseMoveBackgroundDirective (mouseMoveX)="transformX($event)" (mouseMoveY)="transformY($event)"
       [ngStyle]="{'background-position' :  'calc( 50% - ' + backgroundX + 'px) calc( 50% - ' + backgroundY + 'px)' }">


    <div id="homeLogoContainer">
      <div id="homeLogo">
        <div class="inner" appMouseMoveBackgroundDirective
             [ngStyle]="{'background-position' :  'calc( 50% - ' + backgroundX + 'px) calc( 50% - ' + backgroundY + 'px)' }">
          <div class="lines">
          </div>
        </div>
      </div>
      <div class="osiris-logo-text">
        <img src="./assets/osiris-logo-text.png">
      </div>

    </div>

    <div id="accelerometer" appAccelerometerDirective>
      <div id="x">X: {{X}}</div>
      <div id="y">Y: {{Y}}</div>
    </div>



    <nav id="desktop">
      <div class="nav-inner">
        <a routerLink="/culture">culture</a>
        <a routerLink="/careers">careers</a>
        <a routerLink="/whatwedo">what we do</a>
        <a routerLink="/contact">contact</a>
      </div>
    </nav>
  </div>
  </div>

