<navigation></navigation>

<div *ngIf="!angularReady">loaderrrr</div>

<div id="culture-container" class="container-element" *ngIf="angularReady">

  <!--viewport directives checking if element is in and out of view-->
  <div class="block {{block.textAnimate}}" [ngStyle]="{'background-color': block.background }" *ngFor="let block of blocks"
       in-viewport
       [inViewportOptions]="{ partial: false }"
       (inViewportAction)="action($event)">
  <div class="corner {{block.corner}}" *ngIf="(block.corner)"></div>
    <div class="inner-block" *ngIf="(block.innerblocks)">
      <div class="inner-blocks" *ngFor="let innerblock of block.innerblocks" [ngStyle]="{'width' : innerblock.width, 'height' : innerblock.height, 'background' : 'url(' + innerblock.backgroundImage + ')'}"></div>
    </div>
    <h1 class="header" *ngIf="(block.header)">{{block.header}}</h1>
    <h1 class="footer" *ngIf="(block.footer)">{{block.footer}}</h1>
    <h1 class="header iconHeader" *ngIf="(block.iconHeader)">{{block.iconHeader}}</h1>
    <img class="icon" *ngIf="(block.icon)" src="{{block.icon}}">
    <p class="text {{block.textAnimate}}" [innerHTML]="block.text1"></p>
  </div>

</div>
