body {
  height: 100%; }

#culture-container {
  display: block;
  width: 100%;
  height: calc( 100vh - 80px);
  position: absolute;
  overflow: hidden; }
  #culture-container .block {
    width: 25vw;
    height: calc( 50vh - 40px );
    min-height: 320px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    position: relative; }
    #culture-container .block.textAnimate:hover .iconHeader {
      top: 0;
      opacity: 0;
      height: 0; }
    #culture-container .block.textAnimate:hover .textAnimate {
      opacity: 1;
      transition: 0.2s ease-in-out;
      transition-delay: 0.2s; }
    #culture-container .block.textAnimate:hover .icon {
      top: -20px; }
    #culture-container .block .header {
      margin: 35px 0 0;
      font-family: "boulevard_saint_denis";
      font-size: 90px;
      color: #fff;
      text-align: center;
      line-height: 0.5; }
      #culture-container .block .header.iconHeader {
        top: 15%;
        position: relative;
        transition: 0.2s linear; }
    #culture-container .block .footer {
      margin: 0;
      font-family: "aileronregular";
      font-size: 65px;
      color: #fff;
      z-index: 10000;
      position: absolute;
      bottom: 0;
      display: block;
      text-align: right;
      line-height: 0.8;
      font-weight: bold; }
    #culture-container .block .text {
      font-family: "aileronregular";
      font-size: 12px;
      width: 80%;
      margin: 10px auto;
      color: #fff;
      text-align: right; }
      #culture-container .block .text.textAnimate {
        opacity: 0;
        transition: 0s ease-in-out; }
    #culture-container .block .icon {
      margin: 20px auto;
      display: block;
      width: 105px;
      top: 15%;
      position: relative;
      transition: 0.2s linear; }
    #culture-container .block .corner {
      background: url("../../assets/corner-graphic.png");
      width: 30px;
      height: 30px;
      position: absolute; }
      #culture-container .block .corner.topLeft {
        top: 10px;
        left: 10px; }
      #culture-container .block .corner.bottomRight {
        bottom: 10px;
        right: 10px;
        background: url("../../assets/corner-graphic-bottom-right.png"); }
      #culture-container .block .corner.bottomLeft {
        bottom: 10px;
        left: 10px;
        background: url("../../assets/corner-graphic-bottom-left.png"); }
    #culture-container .block .inner-block {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      #culture-container .block .inner-block .inner-blocks {
        transition: opacity 0.5s;
        display: block;
        float: left;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center  !important; }

@media screen and (max-width: 1500px) {
  #culture-container .block .footer {
    font-size: 50px; } }
@media screen and (max-width: 1200px) {
  #culture-container .block .footer {
    font-size: 40px; } }
@media screen and (max-height: 730px) {
  #culture-container {
    overflow: visible; } }
@media screen and (max-width: 1300px) {
  #culture-container .block .header {
    font-size: 80px; } }
@media screen and (max-width: 1024px) {
  #culture-container {
    overflow: visible; }
    #culture-container .block {
      width: 50vw;
      height: 50vw; }
      #culture-container .block .footer {
        font-size: 60px; } }
@media screen and (max-width: 720px) {
  #culture-container .block .footer {
    font-size: 40px; } }
@media screen and (max-width: 550px) {
  #culture-container .block {
    width: 100vw;
    height: 60vw; }
    #culture-container .block .footer {
      font-size: 60px; } }
@media screen and (max-width: 375px) {
  #culture-container .block .footer {
    font-size: 60px; } }
@media screen and (max-width: 374px) {
  #culture-container .block .footer {
    font-size: 50px; } }
@media screen and (max-width: 320px) {
  #culture-container .block .text {
    font-size: 12px;
    line-height: 1.4; } }

/*# sourceMappingURL=culture-component.component.css.map */
